@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="number"] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.loginButton {
  width: 300px;
  height: 50px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-top: 1px;
  border-radius: 10px;
  margin-top: 5px;
}

.actionButton {
  margin-top: 10px;
  height: 50px;
  width: 250px;
  background-color: #f44336;
  border-radius: 20px;
  transition: all 300ms ease-out;
  color: white;
  font-family: var(--font-concert);
}

.actionButton:hover {
  background-color: #f4433699;
  transform: scale(1.03);
}

.actionButton:active {
  transform: translateY(5px);
}

.prettyInput {
  height: 40px;
  width: 400px;
  position: relative;
}

.input-wrapper {
  height: 100%;
  width: 100%;
  padding-left: 10px;
  border-radius: 10px;
  border: 3px solid #f4433690;
  transition: border 250ms ease-out;
  z-index: 1;
  background-color: #020617;
}

.input-label {
  position: absolute;
  left: 10px;
  top: 6px;
  color: gray;
  pointer-events: none;
  z-index: 2;
  background-color: #020617;
  padding: 0 2px;
  transition: all 250ms ease-out;
}

.input-wrapper:focus {
  outline: none;
  border: 3px solid #f44336;
  box-shadow: 0 0 0.5em #f44336;
}

.input-label-focus {
  transform: translateY(-18px);
  font-size: 14px;
  left: 15px;
  color: #f44336;
}

.input-label-focus-none {
  transform: translateY(-18px);
  font-size: 14px;
  left: 15px;
  color: #f4433690;
}

.outer {
  position: fixed;
  top: 15px;
  right: 15px;
  width: 185px;
  height: 65px;
  border-radius: 20px;
  opacity: 0;
  transform: translateX(50px);
  color: #203354;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    to left,
    transparent,
    transparent 50%,
    #ef4444 50%,
    #ef4444
  );
  background-position: 100% 0;
  background-size: 200% 100%;
  animation: appearPopup 10s linear;
}

.inner {
  width: 180px;
  height: 60px;
  border-radius: 19px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@keyframes appearPopup {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  10% {
    opacity: 1;
    transform: translateX(0px);
  }
  20% {
    background-position: 100% 0;
    background-size: 200% 100%;
  }
  80% {
    background-position: 0 0;
  }
  90% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(50px);
    background-position: 0 0;
  }
}

@keyframes fillBorder {
  90% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 0;
  }
}

.buyButton {
  height: 40px;
  width: 150px;
  border-radius: 20px;
  background-image: linear-gradient(
    to left,
    #ffffff,
    #ffffff 50%,
    #06b6d4 50%,
    #06b6d4
  );
  color: black;
  background-position: 100% 0;
  background-size: 200% 100%;
  transition: all 0.45s ease-in;
}

.buyButton:hover {
  color: white;
  background-position: 0 0;
  background-color: #06b6d4;
  color: #fff;
}

.shoeListContainer {
  box-shadow: 0 0 2em #ef4444;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 1rem;
}

.heading {
  font-size: 30px;
  color: #ef4444;
  text-shadow: 0 0 0.2em #ef444480;
  font-family: var(--font-concert);
}

.header {
  background-color: #f44336;
  box-shadow: 0 0 1em #ef4444;
}

.googleLogin {
  background-image: linear-gradient(
    to left,
    #ffffff,
    #ffffff 50%,
    #43a047 50%,
    #43a047
  );
  color: black;
  background-position: 100% 0;
  background-size: 200% 100%;
  transition: all 0.45s ease-in;
}

.googleLogin:hover {
  color: white;
  background-position: 0 0;
  background-color: #43a047;
  color: #fff;
  border-color: black;
}

.registerLogin {
  background-image: linear-gradient(
    to left,
    #ffffff,
    #ffffff 50%,
    #d32f2f 50%,
    #d32f2f
  );
  color: black;
  background-position: 100% 0;
  background-size: 200% 100%;
  transition: all 0.45s ease-in;
}

.registerLogin:hover {
  color: white;
  background-position: 0 0;
  background-color: #d32f2f;
  color: #fff;
  border-color: black;
}
